/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  padding-top: 50px;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

#sidebar {
  border-right: 2px solid gray;
  height: 100%;
  background-color: blue;
}

#map-container {
  height: 100%;
  background-color: red;
}
